<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Bar</title>
</head>
<body>
  <form action="/new">
    <fieldset>
      <legend>Find a Book!</legend>
      <label for="title">Title</label>
      <input type="text" name="title">

      <label for="author">Author</label>
      <input type="text" name="author">
    </fieldset>
  </form>
</body>
</html>