<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Bar</title>
</head>
<body>
  <form action="/searches/new" method="POST">
    <fieldset>
      <legend>Find a Book!</legend>
      <label for="searchQuery">Query</label>
      <input type="text" name="search[query]" value = ''>

      <label for="searchByTitle">Title</label>
      <input type="radio" name="search[type]" value="title">

      <label for="searchByAuthor">Author</label>
      <input type="radio" name="search[type]" value="author">

      <input type="submit">
    </fieldset>
  </form>
  <%- include('show', { bookItems : arrayBookItems }); %>
</body>
</html>
